h1, h2, h3, h4, h5, h6 {
    font-family: 'LeagueGothicRegular', Helvetica, Arial;
    margin-bottom: 1rem;
    color: #444;
    text-transform: uppercase;
}

.clear {
    clear: both;
    display: block;
    height: 0;
    width: 100%;
}
.icon-image {
    float: left;
    width: 1rem;
    margin-right: 1.5rem;
}
.icon-text {
    overflow: hidden;
}
.copyright {
    font-size: 1rem;
    padding-top: 8px;
    text-align: center;
}
.social {
    padding-top: 10px;
    text-align: center;
    margin-left: -5px;
}
.footer_small,.container-footer {
    margin-top: 4rem;
    padding: 2rem;
    border-top-style: outset;
}

.container-welcome{
    text-align: center;
    font-size: 32px;

}
.title-under-image{
            font-size: 1.8rem;
        text-align: center;
        font-family: 'LeagueGothicRegular', Helvetica, Arial;
        color: #888;
        font-weight: normal;
        text-transform: uppercase;
        font-weight: normal;
        justify-content: center;

      }
      
.container-small{
    display: flex;
    height: 20%;
    width: 20%;
}
.img-style {
    margin: 1.5rem;
  }
  h2{
    color: #444;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
       
  }
.logo {
    float: left;
    padding: 30px 0;
}


.nav {
    float: right;
    height: 30px;
    margin: 40px 0;
    font-family: 'LeagueGothicRegular', Helvetica, Arial;
    text-transform: uppercase;
    font-weight: normal;
}
.inner {
    border-bottom: 11px dotted #b61717;
    

}
ul, li, a {
    
    padding: 0px 8px;
    line-height: 40px;
    text-decoration: none;
}
 
